# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Mypy / Ruff cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# IDE files
.vscode/
.idea/
